@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #f9fafb; /* A light background color */
  font-family: 'Inter', sans-serif; /* Ensure you import the font in your HTML or CSS */
}